<div class="jumbotron">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center"> Message </h2>
    </div>
  </div>
  <p class="lead text-center"><br>
    <%= notice %>
  </p>
</div>



